doctype html
html
  head
    title= title
    link(href='/favicon.ico', type='image/ico', rel='shortcut icon')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= message
    block content
