body {
  padding: 50px;
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.welcome {
  text-align: center;
  margin-bottom: 5rem;
  margin-top: -1rem;
}

.formWrapper {
  text-align: center;
  background-color:  #29a3a3;
  border-radius: 5rem;
  box-shadow: -.2rem -.2rem .2rem .2rem #078181;
}

.inputText {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 30rem;
  line-height: 2.5rem;
}

.btn {
  margin-bottom: 2rem;
}

.newUser {
  text-align: center;
  margin-top: 2rem;
}
